<!DOCTYPE html>
<html lang="es">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>CityBike</title>
</head>

<body>
    <div id="header-container"></div>
    <div>
        <button id="reserva-btn">Reservas</button>
        <button id="alquiler-btn">Alquileres</button>
    </div>
    <div id="panelReservas" style="display: block">
        <h1>Reservas</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Bicicleta</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Formalizada</th>
                </tr>
            </thead>
            <tbody>
                {{#each reserva}}
                <tr>
                    <td id="bicicleta">{{nombre_bicicleta}}</td>
                    <td id="fecha">{{fecha_inicio}}</td>
                    <td id="formalizada">
                        {{#if formalizada}}
                        Sí
                        {{else}}
                        No
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div id="panelAlquileres" style="display: none">
        <h1>Alquileres</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Bicicleta</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Estacion origen</th>
                    <th scope="col">Estacion destion</th>
                </tr>
            </thead>
            <tbody>
                {{#each alquiler}}
                <tr>
                    <td id="bicicleta">{{nombre_bicicleta}}</td>
                    <td id="inicio">{{fecha_inicio}}</td>
                    <td id="inicio">{{fecha_fin}}</td>
                    <td id="origen">{{nombre_estacion_origen}}</td>
                    <td id="origen">{{nombre_estacion_destino}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="../javascripts/tablaHistorial.js"></script>
    <script src="../javascripts/header.js"></script>
</body>

</html>